* {
    box-sizing: border-box;
    font-family: ""
}

body {
    font-size: 16px;
    text-align: justify;
    padding: 8px 10px 0 0;
}

img {
    max-width: 100%;
}

.box-wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 8px;
    background: #eee;
}

.box-date {
    text-align: right;
}

.box-date p:first-child {
    font-size: 24px;
    font-weight: bolder;
}

.box-date p:last-child {}

.box-content {
    background: #fefefe;
}

.footer {
    width: 100%;
    background: #eee;
    text-align: center;
    font-size: 10px;
    padding: 8px 0;
    color: #999;
}

figure {
    overflow: auto;
}

@media only screen and (max-width: 980px) {
    .col-sm-9 {
        display: none;
    }
}